.sidebar
  .sidebar__top
    .sidebar__top__left
      = current_user.name
    .sidebar__top__right
      = link_to new_group_path, class: "sidebar__top__right__edit-btn" do
        = icon('fas', 'edit', class: "sidebar__top__right__edit-btn__icon")
      = link_to edit_user_path(current_user.id), class: "sidebar__top__right__cog-btn" do
        = icon('fas', 'cog', class: "sidebar__top__right__cog-btn__icon")
  .sidebar__main
    - current_user.groups.each do |group|
      .sidebar__main__group1
        = link_to group_messages_path(group) do
          .sidebar__main__group1__name
            = group.name
          .sidebar__main__group1__message
            = group.show_last_message
